# YAML file for LDP 1.0

#x-ibm-configuration:
#  enforced: false
#  phase: identified
#  testable: true
#  cors:
#    enabled: true

swagger: '2.0'

# This is your document metadata
info:
  version: "1.0.0"
  title: "OSLC-API's"
  description: API's for the OSLC product
  contact:
    name: "IBM OSLC Team"
  license:
    name: "Apache 2.0"

tags:
  - name: OSLC-2.0
    description: "API's for OSLC-2.0"
    #externalDocs: 
  - name: LDP
    description: "API's for LDP"
    #externalDocs:
  - name: OSLC-3.0
    description: "API's for OSLC-3.0"
    #externalDocs: 

schemes:
  - "http"

host: "oslc-ui.mybluemix.net"

consumes:
  - "application/rdf+xml"
  - "application/json+ld"

produces:
  - "application/rdf+xml"
  - "application/json+ld"

#basePath: "/"

# Describe your paths here
paths:
  # This is a path endpoint. Change it.
  /containers/{containerID}:
    # This is a HTTP operation
    get:

      tags:
        - LDP
      # Describe this verb here. Note: you can use markdown
      description: |
        Gets the container by its ID
      # This is array of GET operation parameters:
      parameters:
        # An example parameter that is in query and is required
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      # Expected responses for this operation:
      responses:
        # Response code
        "200":
          description: Successful response
          # A schema describing your response object.
          # Use JSON Schema format
          headers:
            type:
              description: Target URI matching type of container
              type: string
            Content-Type:
              description: Content-Type for resource
              type: string

          schema:
            $ref: '#/definitions/LDPContainer'
        
        "404":
          description: Unable to find container

        default:
          description: Unsuccessful response
        
    post:
      
      tags:
        - LDP

      description: |
        Creates new container

      parameters:
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resource
          in: body
          description: Resource to insert into container
          required: true
          schema:
            $ref: '#/definitions/Resource'
        - name: Slug
          in: header
          description: Suggested URI for resource
          required: false
          type: string
        - name: Content-Type
          in: header
          description: Content-Type of resource
          required: false
          type: string

      responses:

        "200":
          description: Successful response

        "201":
          description: Successful creation
          headers:
            Location:
              description: URI to created resource
              type: string
        
        "404":
          description: Unable to find container

        "405":
          description: Method not allowed
          headers:
            Allow:
              description: HTTP methods allowed
              type: array
              items:
                type: string

        "409":
          description: URI Already Exists

        default:
          description: Unsuccessful response

    put:

      tags:
        - LDP

      description: |
        Updates container

      parameters:
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resource
          in: body
          description: Resource to insert into container
          required: true
          schema:
            $ref: '#/definitions/Resource'
        - name: Slug
          in: header
          description: Suggested URI for resource
          required: false
          type: string
        - name: Content-Type
          in: header
          description: Content-Type of resource
          required: false
          type: string

      responses:

        "200":
          description: Successful response

        "404":
          description: Unable to find container

        "405":
          description: Method not allowed
          headers:
            Allow:
              description: HTTP methods allowed
              type: array
              items:
                type: string

        "409":
          description: URI Already Exists

        default:
          description: Unsuccessful response

    patch:

      tags:
        - LDP

      description: |
        Updates LDP container

      parameters:
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resource
          in: body
          description: Resource to insert into container
          required: true
          schema:
            $ref: '#/definitions/Resource'

      responses:

        "200":
          description: Successful response

        "404":
          description: Unable to find container

        "405":
          description: Method not allowed
          headers:
            Allow:
              description: HTTP methods allowed
              type: array
              items:
                type: string

        "406":
          description: Violates constraints on resource modification
          headers:
            Accept-Patch:
                type: array
                items:
                  type: string

        default:
          description: Unsuccessful response

    delete:

      tags:
        - LDP

      description: |
        Deletes LDP container

      parameters:
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response

        "404":
          description: Unable to find container

        "405":
          description: Method not allowed
          headers:
            Allow:
              description: HTTP methods allowed
              type: array
              items:
                type: string

        default:
          description: Unsuccessful response

    options:

      tags:
        - LDP

      description: |
        Gets options for HTTP methods to utilize for this container

      parameters:
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response
          headers:
            Accept:
              type: array
              items:
                type: string

            Accept-Patch:
              type: array
              items:
                type: string

        "404":
          description: Unable to find container

        default:
          description: Unsuccessful response

    # What should be returned here??
    head:

      tags:
        - LDP

      description: |
        Gets the header values that would normally be found in the header of GET

      parameters:
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response
          headers:
            Allow:
              type: array
              items:
                type: string

        "404":
          description: Unable to find container

        default:
          description: Unsuccessful response

  /containers/{containerID}/{resourceID}:

    get:

      tags:
        - LDP

      description:  |
        Gets the resource in a container

      parameters:
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response
          headers:
            Allow:
              type: array
              items:
                type: string
            ETag:
              description: ETag for this resource
              type: string
            Content-Type:
              description: Content-Type for resource
              type: string

          schema:
            $ref: '#/definitions/Resource'

        "404":
          description: Unable to find resource

        default:
          description: Unsuccessful response

    post:

      tags:
        - LDP

      description: |
        Creates a resource in the container

      parameters:
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resource
          in: body
          description: Resource to create
          required: true
          schema:
            $ref: '#/definitions/Resource'
        - name: Content-Type
          in: header
          description: Content-Type of resource
          required: false
          type: string

      responses:

        "200":
          description: Successful response

        "404":
          description: Unable to find resource

        "405":
          description: Method not allowed
          headers:
            Allow:
              description: HTTP methods allowed
              type: array
              items:
                type: string
        default:
          description: Unsuccessful response

    put:

      tags:
        - LDP

      description: |
        Updates resource in the container

      parameters:
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resource
          in: body
          description: Resource to update or create
          required: true
          schema:
            $ref: '#/definitions/Resource'
        - name: Content-Type
          in: header
          description: Content-Type of resource
          required: false
          type: string

      responses:

        "200":
          description: Successful response
          headers:
            ETag:
              description: ETag for this resource
              type: string

        "404":
          description: Unable to find resource

        "405":
          description: Method not allowed
          headers:
            Allow:
              description: HTTP methods allowed
              type: array
              items:
                type: string

        "409":
          description: Property cannot be modified
          schema:
            type: string

        "412":
          description: ETags don't match

        default:
          description: Unsuccessful response

    patch:

      tags:
        - LDP

      description: |
        Updates resource in the container

      parameters:
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response

        "404":
          description: Unable to find resource

        "405":
          description: Method not allowed
          headers:
            Allow:
              description: HTTP methods allowed
              type: array
              items:
                type: string

        "406":
          description: Violates constraints on resource modification
          headers:
            Accept-Patch:
                type: array
                items:
                  type: string

        default:
          description: Unsuccessful response

    delete:

      tags:
        - LDP

      description: |
        Deletes resource in the container

      parameters:
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response

        "404":
          description: Unable to find resource

        "405":
          description: Method not allowed
          headers:
            Allow:
              description: HTTP methods allowed
              type: array
              items:
                type: string

        default:
          description: Unsuccessful response

    options:

      tags:
        - LDP

      description: |
        Gets options for HTTP methods for the resource in the container

      parameters:
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response
          headers:
            Accept:
              type: array
              items:
                type: string

            Accept-Patch:
              type: array
              items:
                type: string

        "404":
          description: Unable to find resource

        default:
          description: Unsuccessful reponse

    head:

      tags:
        - LDP

      description: |
        Gets the header values similar to taht in GET

      parameters:
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response
          headers:
            allow:
              type: array
              items:
                type: string

        "404":
          description: Unable to find resource

        default:
          description: Unsuccessful response

  /resourceSet:

    get:

      tags:
        - OSLC-3.0

      description: |
        Gets the resource set for this server

      responses:

        "200":
          description: Successful response
          schema:
            $ref: '#/definitions/ResourceSet'

        default:
          description: Unsuccessful response

  /resourceSet/base:

    get:

      tags:
        - OSLC-3.0

      description: |
        Gets the base for the Resource set

      responses:

        "200":
          description: Successful response
          schema:
            $ref: '#/definitions/LDPContainer'

        default:
          description: Unsuccessful response

  /resourceSet/changeLog:

    get:

      tags:
        - OSLC-3.0

      description: |
        Gets the Change Log for the Resource Set

      responses:

        "200":
          description: Successful response
          schema:
            $ref: '#/definitions/ChangeLog'

        default:
          description: Unsuccessful response

  # Path to the Service Provider Catalog
  /services/catalog:

    # GET operation to retrieve the SPC
    get:

      tags:
        - OSLC-3.0
        - OSLC-2.0
      
      description: |
        Gets list of ServiceProviders.

      responses:

        "200":
          description: Successful response
          
          # Schema that describes response, as defined in "ref"
          schema:
            $ref: '#/definitions/ServiceProviders'

        "404":
          description: Unable to find catalog

        default:
          description: Unsuccessful response
 
  # Path to a Service Provider, as specified in "serviceProviderID"
  /services/serviceProviders/{serviceProviderID}:
  
    # GET the Service Provider
    get:

      tags:
        - OSLC-3.0
        - OSLC-2.0

      description: |
        Gets a ServiceProvider resource.

      parameters:
        - name: serviceProviderID
          in: path
          description: ID of service provider
          required: true
          type: integer
          format: int64
        
      responses:
      
        "200":
          description: Successful response

          # Schema that describes response, as defined in "ref"
          schema:
            $ref: '#/definitions/ServiceProvider'

        default:
          description: Unsuccessful response

  # Path to a Service, as specified in "serviceID"
  /services/{serviceID}:

    # GET the Service
    get:

      tags:
        - OSLC-3.0
        - OSLC-2.0

      description: |
        Lists options provided within service

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful

          # Schema that describes response, as defined in "ref"
          schema:
            $ref: '#/definitions/Service'

        "404":
          description: Unable to find resource

        default:
          description: Unsuccessful response

  # Path to the Creation Delegated Dialog within the Service
  /services/{serviceID}/dialog/create:
    
    # GET the Creation Delegated Dialog
    get:

      tags:
        - OSLC-3.0
        - OSLC-2.0

      description: |
        Gets a resource creation dialog.

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        
      responses:

        "200":
          description: Successful response

        default:
          description: Unsuccessful response

  # Path to the Selection Delegated Dialog within the Service
  /services/{serviceID}/dialog/select:

    # GET the Selection Delegated Dialog
    get:

      tags:
        - OSLC-3.0
        - OSLC-2.0

      description: |
        Gets a resource selection dialog.

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response

        default:
          description: Unsuccessful response

  # Path to the Factory within the Service
  /services/{serviceID}/factory:

    # POST the OSLC Resource to be created
    post:

      tags:
        - OSLC-3.0
        - OSLC-2.0

      description: |
        Creates a new OSLC resource.

      # Need to input the resource inside the body
      # of the packet. Schema defined under "Resource"
      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: resource
          in: body
          description: New OSLC resource
          required: true
          schema:
            $ref: '#/definitions/Resource'

      responses:

        "200":
          description: Successful creation

        default:
          description: Unsuccessful response

  # Path to the UI Preview within the Service
  # This may not exist for some services
  /services/{serviceID}/preview:

    # GET the UI Preview
    get:

      tags:
        - OSLC-3.0
        - OSLC-2.0

      description: |
        Obtain a UI Preview for a resource

      # Inputs the URI of the resource
      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: resource
          in: body
          description: URI for resource
          required: true
          schema:
            type: string

      consumes:
          - "application/x-oslc-compact+json"
          - "application/x-oslc-compact+xml"

      produces:
          - "application/x-oslc-compact+json"
          - "application/x-oslc-compact+xml"

      responses:
        # response header has "vary" field
        "200":
          description: Successful response

          headers:
            vary:
              type: string # URI directed to cache

        "406":
          description: Compact representation not supported

        default:
          description: Does not exist
          
  # Path to the Query within the Service
  /services/{serviceID}/query?{sqlQuery}:

    # GET the Query by putting the query in the URI
    get:

      tags:
        - OSLC-3.0
        - OSLC-2.0

      description: |
        Enables a query for resources within this service via GET.

      # Inputs the query. Attached to the end of the URI
      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: sqlQuery
          in: path
          description: User's query of resources
          required: true
          type: string
          format: string

      responses:

        "200":
          description: Successful response

          # Schema for the resources that come back, as defined under "Resources"
          schema:
            $ref: '#/definitions/Resources'

        "400":
          description: Error in specification of query

        default:
          description: Unsuccessful response

  /services/{serviceID}/query:
    # POST to Query by putting the query in the body of the request
    post:

      tags:
        - OSLC-3.0
        - OSLC-2.0

      description: |
        Enables a query for resources within this serice via POST.

      # Inputs the query into the body
      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: sqlQuery
          in: body
          description: User's query of resources
          required: true
          schema:
            type: string
            format: string

      responses:

        "200":
          description: Successful response

          # Schema for the resources that come back, as defined under "Resources"
          schema:
            $ref: '#/definitions/Resources'

        "400":
          description: Error in specification of query

        default:
          description: Unsuccessful response

  /services/{serviceID}/{containerID}:

    get:

      tags:
        - OSLC-3.0

      # Describe this verb here. Note: you can use markdown
      description: |
        Gets the container within a service
      # This is array of GET operation parameters:
      parameters:
        # An example parameter that is in query and is required
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      # Expected responses for this operation:
      responses:
        # Response code
        "200":
          description: Successful response
          # A schema describing your response object.
          # Use JSON Schema format
          headers:
            type:
              description: Target URI matching type of container
              type: string
            Content-Type:
              description: Content-Type for resource
              type: string

          schema:
            $ref: '#/definitions/LDPContainer'
        
        "404":
          description: Unable to find container

        default:
          description: Unsuccessful response
        
    post:

      tags:
        - OSLC-3.0

      description: |
        Creates a container for this service

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resource
          in: body
          description: Resource to insert into container
          required: true
          schema:
            $ref: '#/definitions/Resource'
        - name: Slug
          in: header
          description: Suggested URI for resource
          required: false
          type: string
        - name: Content-Type
          in: header
          description: Content-Type of resource
          required: false
          type: string

      responses:

        "200":
          description: Successful response

        "201":
          description: Successful creation
          headers:
            Location:
              description: URI to created resource
              type: string
        
        "404":
          description: Unable to find container

        "405":
          description: Method not allowed
          headers:
            Allow:
              description: HTTP methods allowed
              type: array
              items:
                type: string

        "409":
          description: URI Already Exists

        default:
          description: Unsuccessful response

    put:

      tags:
        - OSLC-3.0

      description: |
        Updates container for this service

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resource
          in: body
          description: Resource to insert into container
          required: true
          schema:
            $ref: '#/definitions/Resource'
        - name: Slug
          in: header
          description: Suggested URI for resource
          required: false
          type: string
        - name: Content-Type
          in: header
          description: Content-Type of resource
          required: false
          type: string

      responses:

        "200":
          description: Successful response

        "404":
          description: Unable to find container

        "405":
          description: Method not allowed
          headers:
            Allow:
              description: HTTP methods allowed
              type: array
              items:
                type: string

        "409":
          description: URI Already Exists

        default:
          description: Unsuccessful response

    patch:

      tags:
        - OSLC-3.0

      description: |
        Updates container for this service

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resource
          in: body
          description: Resource to insert into container
          required: true
          schema:
            $ref: '#/definitions/Resource'

      responses:

        "200":
          description: Successful response

        "404":
          description: Unable to find container

        "405":
          description: Method not allowed
          headers:
            Allow:
              description: HTTP methods allowed
              type: array
              items:
                type: string

        "406":
          description: Violates constraints on resource modification
          headers:
            Accept-Patch:
                type: array
                items:
                  type: string

        default:
          description: Unsuccessful response

    delete:

      tags:
        - OSLC-3.0

      description: |
        Deletes container in this service

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response

        "404":
          description: Unable to find container

        "405":
          description: Method not allowed
          headers:
            Allow:
              description: HTTP methods allowed
              type: array
              items:
                type: string

        default:
          description: Unsuccessful response

    options:

      tags:
        - OSLC-3.0

      description: |
        Gets HTTP operations available to this container

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response
          headers:
            Accept:
              type: array
              items:
                type: string

            Accept-Patch:
              type: array
              items:
                type: string

        "404":
          description: Unable to find container

        default:
          description: Unsuccessful response

    head:

      tags:
        - OSLC-3.0

      description: |
        Returns header values similar to that in GET

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response
          headers:
            Allow:
              type: array
              items:
                type: string

        "404":
          description: Unable to find container

        default:
          description: Unsuccessful response

  /services/{serviceID}/{containerID}/{resourceID}?{paging}:

    get:

      tags:
        - OSLC-3.0

      description: |
        Obtain a specific resource by resourceID

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: paging
          in: path
          description: Query to enable paging with oslc:paging=true or oslc.pageSize=<integer>
          required: true
          type: string

      responses:
        "200":
          description: Successful response
          schema:
            $ref: '#/definitions/Resource'
        
        "404":
          description: Unable to find resource

        default:
          description: Unsuccessful response

  # All chnages to a resource means that a ChangeEvent should be created for the Change Log in Resource Set
  /services/{serviceID}/{containerID}/{resourceID}:

    get:

      tags:
        - OSLC-3.0

      description: |
        Gets resource within the container

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response
          headers:
            Allow:
              type: array
              items:
                type: string
            ETag:
              description: ETag for this resource
              type: string
            Content-Type:
              description: Content-Type for resource
              type: string

          schema:
            $ref: '#/definitions/Resource'

        "404":
          description: Unable to find resource

        default:
          description: Unsuccessful response

    post:

      tags:
        - OSLC-3.0

      description: |
        Creates resource within that container

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resource
          in: body
          description: Resource to create
          required: true
          schema:
            $ref: '#/definitions/Resource'
        - name: Content-Type
          in: header
          description: Content-Type of resource
          required: false
          type: string

      responses:

        "200":
          description: Successful response

        "404":
          description: Unable to find resource

        "405":
          description: Method not allowed
          headers:
            Allow:
              description: HTTP methods allowed
              type: array
              items:
                type: string
        default:
          description: Unsuccessful response

    put:

      tags:
        - OSLC-3.0

      description: |
        Updates resource in container for this service

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resource
          in: body
          description: Resource to update or create
          required: true
          schema:
            $ref: '#/definitions/Resource'
        - name: Content-Type
          in: header
          description: Content-Type of resource
          required: false
          type: string

      responses:

        "200":
          description: Successful response
          headers:
            ETag:
              description: ETag for this resource
              type: string

        "404":
          description: Unable to find resource

        "405":
          description: Method not allowed
          headers:
            Allow:
              description: HTTP methods allowed
              type: array
              items:
                type: string

        "409":
          description: Property cannot be modified
          schema:
            type: string

        "412":
          description: ETags don't match

        default:
          description: Unsuccessful response

    patch:

      tags:
        - OSLC-3.0

      description: |
        Updates resource for container in this service

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response

        "404":
          description: Unable to find resource

        "405":
          description: Method not allowed
          headers:
            Allow:
              description: HTTP methods allowed
              type: array
              items:
                type: string

        "406":
          description: Violates constraints on resource modification
          headers:
            Accept-Patch:
                type: array
                items:
                  type: string

        default:
          description: Unsuccessful response

    delete:

      tags:
        - OSLC-3.0

      description: |
        Deletes resource in this container

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response

        "404":
          description: Unable to find resource

        "405":
          description: Method not allowed
          headers:
            Allow:
              description: HTTP methods allowed
              type: array
              items:
                type: string

        default:
          description: Unsuccessful response

    options:

      tags:
        - OSLC-3.0

      description: |
        Gets options for HTTP operations for this resource

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response
          headers:
            Accept:
              type: array
              items:
                type: string

            Accept-Patch:
              type: array
              items:
                type: string

        "404":
          description: Unable to find resource

        default:
          description: Unsuccessful reponse

    head:

      tags:
        - OSLC-3.0

      description: |
        Gets header info that is seen in GET method

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response
          headers:
            allow:
              type: array
              items:
                type: string

        "404":
          description: Unable to find resource

        default:
          description: Unsuccessful response


  /services/{serviceID}/{resourceID}?{paging}:

    get:
      
      tags:
        - OSLC-2.0

      description: |
        Obtain a specific resource by resourceID

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: paging
          in: path
          description: Query to enable paging with oslc:paging=true or oslc.pageSize=<integer>
          required: true
          type: string

      responses:
        "200":
          description: Successful response
          schema:
            $ref: '#/definitions/Resource'
        
        "404":
          description: Unable to find resource

        default:
          description: Unsuccessful response


  /services/{serviceID}/{resourceID}:

    put:

      tags:
        - OSLC-2.0

      description: |
        Update an OSLC resource.

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: resource
          in: body
          description: The resource to update
          required: true
          schema:
            $ref: '#/definitions/Resource'

      responses:
        "200":
          description: Successful response
          schema:
            $ref: '#/definitions/Resource'

        "400":
          description: If-match header is missing

        "412": 
          description: Headers don't match

        "409":
          description: |
            Headers match, but another problem has occurred

        default:
          description: Unsuccessful response

    delete:

      tags:
        - OSLC-2.0

      description: |
        Delete an OSLC resource

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64

      responses:
        "200":
          description: Successful response
          schema:
            $ref: '#/definitions/Resource'

        "404":
          description: Unable to find resource

        default:
          description: Unsuccessful response

    head:

      tags:
        - OSLC-2.0

      description: |
        Get the size of the resource

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response

          headers:
            Content-Length:
              type: integer
              format: int64

        "404":
          description: Unable to find resource

        default:
          description: Unsuccessful response


    get:

      tags:
        - OSLC-2.0
      description: |
        Obtain a specific resource by resourceID

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64

      responses:
        "200":
          description: Successful response
          schema:
            $ref: '#/definitions/Resource'
        
        "404":
          description: Unable to find resource

        default:
          description: Unsuccessful response

definitions:

  # Defines a Service Provider as described in
  # The OSLC 2.0 specifications
  ServiceProvider:
    required:
      - serviceProviderID
      - dcterms:title
      - dcterms:description
      - dcterms:publisher
      - oslc:service
      - oslc:details
      - oslc:prefixDefinition
      - oslc:oauthConfiguration
    properties:
      serviceProviderID:
        type: integer
        format: int64
      dcterms:title:
        type: string
        format: string
      dcterms:description:
        type: string
        format: string
      dcterms:publisher:
        type: string
        format: string
      oslc:service:
        type: string
      oslc:details:
        type: string
        format: string
      oslc:prefixDefinition:
        type: string
        format: string
      oslc:oauthConfiguration:
        type: string

  # Defines an array of Service Providers
  ServiceProviders:
    type: array
    items:
      $ref: '#/definitions/ServiceProvider'

  # Defines a Service as described in
  # The OSLC 2.0 specifications
  Service:
    required:
      - serviceID
      - oslc:domain
      - oslc:creationFactory
      - oslc:queryCapability
      - oslc:selectionDialog
      - oscl:creationDialog
      - oslc:usage
    properties:
      serviceID:
        type: integer
        format: int64
      oslc:domain:
        type: string
      oslc:creationFactory:
        type: string
      oslc:queryCapability:
        type: string
      oslc:selectionDialog:
        type: string
      oscl:creationDialog:
        type: string
      oslc:usage:
        type: string
      oslc:uiPreview:
        type: string

  # Defines a Resource as described in
  # The OSLC 2.0 specifications
  Resource:
    required:
      - resourceID
      - name
      - URI
    properties:
      resourceID:
        type: integer
        format: int64
      name:
        type: string
      URI:
        type: string
      oslc:nextPage: # URL to next page of Resource is paging is enabled
        type: string

  # Defines an array of Resources
  Resources:
    type: array
    items:
      $ref: '#/definitions/Resource'

  LDPContainer:
    required:
      - containerID
      - name
      - URI
      - resources
    properties:
      containerID:
        type: integer
        format: int64
      name:
        type: string
      URI:
        type: string
      resources:
        type: array
        items:
          $ref: '#/definitions/Resource'

  ChangeLog:
    required:
      - changeEvents
    properties:
      changeEvents:
        type: array
        items:
          $ref: '#/definitions/ChangeEvent'

  ChangeEvent:
    required:
      - URI
      - rdf:type
      - trs:changed
      - trs:order
    properties:
      URI:
        type: string
      rdf:type:
        type: string
      trs:changed:
        type: string
      trs:order:
        type: integer
        format: int64

  ResourceSet:
    required:
      - ChangeLog
      - base
    properties:
      ChangeLog:
        $ref: '#/definitions/ChangeLog'
      Base:
        $ref: '#/definitions/LDPContainer'

