# YAML file for LDP 1.0

#x-ibm-configuration:
#  enforced: false
#  phase: identified
#  testable: true
#  cors:
#    enabled: true

swagger: '2.0'

# This is your document metadata

info:
  version: "1.0.0"
  title: "OSLC-API's"
  description: API's for the OSLC product
  contact:
    name: "IBM OSLC Team"
  license:
    name: "Apache 2.0"

tags:
  - name: OSLC-2.0
    description: "API's for OSLC-2.0"
    externalDocs: 
      description: "Specification for OSLC-2.0"
      url: "http://open-services.net/bin/view/Main/OslcCoreSpecification"
  - name: LDP
    description: "API's for LDP"
    externalDocs:
      description: "Specification for LDP-1.0"
      url: "https://www.w3.org/TR/ldp/"
  - name: OSLC-3.0
    description: "API's for OSLC-3.0"
    externalDocs:
      description: "Specification for OSLC-3.0"
      url: "http://open-services.net/wiki/core/Specification-3.0/"

schemes:
  - "http"

host: "oslc-ui.mybluemix.net"

consumes:
  - "application/json+ld"

produces:
  - "application/json+ld"

#basePath: "/"

# Describe your paths here
paths:
  # This is a path endpoint. Change it.
  /containers/{containerID}:
    # This is a HTTP operation
    get:

      tags:
        - LDP
      # Describe this verb here. Note: you can use markdown
      description: |
        Gets the container by its ID
      # This is array of GET operation parameters:
      parameters:
        # An example parameter that is in query and is required
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      # Expected responses for this operation:
      responses:
        # Response code
        "200":
          description: Successful response
          # A schema describing your response object.
          # Use JSON Schema format
          headers:
            type:
              description: Target URI matching type of container
              type: string
            Content-Type:
              description: Content-Type for resource
              type: string

          schema:
            $ref: '#/definitions/LDPContainer'
        
        "404":
          description: Unable to find container

        default:
          description: Unsuccessful response
        
    post:
      
      tags:
        - LDP

      description: |
        Creates new container

      parameters:
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resource
          in: body
          description: Resource to insert into container
          required: true
          schema:
            $ref: '#/definitions/Resource'
        - name: Slug
          in: header
          description: Suggested URI for resource
          required: false
          type: string
        - name: Content-Type
          in: header
          description: Content-Type of resource
          required: false
          type: string

      responses:

        "200":
          description: Successful response

        "201":
          description: Successful creation
          headers:
            Location:
              description: URI to created resource
              type: string
        
        "404":
          description: Unable to find container

        "405":
          description: Method not allowed
          headers:
            Allow:
              description: HTTP methods allowed
              type: array
              items:
                type: string

        "409":
          description: URI Already Exists

        default:
          description: Unsuccessful response

    put:

      tags:
        - LDP

      description: |
        Updates container

      parameters:
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resource
          in: body
          description: Resource to insert into container
          required: true
          schema:
            $ref: '#/definitions/Resource'
        - name: Slug
          in: header
          description: Suggested URI for resource
          required: false
          type: string
        - name: Content-Type
          in: header
          description: Content-Type of resource
          required: false
          type: string

      responses:

        "200":
          description: Successful response

        "404":
          description: Unable to find container

        "405":
          description: Method not allowed
          headers:
            Allow:
              description: HTTP methods allowed
              type: array
              items:
                type: string

        "409":
          description: URI Already Exists

        default:
          description: Unsuccessful response

    patch:

      tags:
        - LDP

      description: |
        Updates LDP container

      parameters:
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resource
          in: body
          description: Resource to insert into container
          required: true
          schema:
            $ref: '#/definitions/Resource'

      responses:

        "200":
          description: Successful response

        "404":
          description: Unable to find container

        "405":
          description: Method not allowed
          headers:
            Allow:
              description: HTTP methods allowed
              type: array
              items:
                type: string

        "406":
          description: Violates constraints on resource modification
          headers:
            Accept-Patch:
                type: array
                items:
                  type: string

        default:
          description: Unsuccessful response

    delete:

      tags:
        - LDP

      description: |
        Deletes LDP container

      parameters:
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response

        "404":
          description: Unable to find container

        "405":
          description: Method not allowed
          headers:
            Allow:
              description: HTTP methods allowed
              type: array
              items:
                type: string

        default:
          description: Unsuccessful response

    options:

      tags:
        - LDP

      description: |
        Gets options for HTTP methods to utilize for this container

      parameters:
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response
          headers:
            Accept:
              type: array
              items:
                type: string

            Accept-Patch:
              type: array
              items:
                type: string

        "404":
          description: Unable to find container

        default:
          description: Unsuccessful response

    # What should be returned here??
    head:

      tags:
        - LDP

      description: |
        Gets the header values that would normally be found in the header of GET

      parameters:
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response
          headers:
            Allow:
              type: array
              items:
                type: string
            Link:
              type: array
              items:
                type: string
                format: uri

        "404":
          description: Unable to find container

        default:
          description: Unsuccessful response

  /containers/{containerID}/{resourceID}:

    get:

      tags:
        - LDP

      description:  |
        Gets the resource in a container

      parameters:
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response
          headers:
            Allow:
              type: array
              items:
                type: string
            ETag:
              description: ETag for this resource
              type: string
            Content-Type:
              description: Content-Type for resource
              type: string

          schema:
            $ref: '#/definitions/Resource'

        "404":
          description: Unable to find resource

        default:
          description: Unsuccessful response

    post:

      tags:
        - LDP

      description: |
        Creates a resource in the container

      parameters:
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resource
          in: body
          description: Resource to create
          required: true
          schema:
            $ref: '#/definitions/Resource'
        - name: Content-Type
          in: header
          description: Content-Type of resource
          required: false
          type: string

      responses:

        "200":
          description: Successful response

        "404":
          description: Unable to find resource

        "405":
          description: Method not allowed
          headers:
            Allow:
              description: HTTP methods allowed
              type: array
              items:
                type: string
        default:
          description: Unsuccessful response

    put:

      tags:
        - LDP

      description: |
        Updates resource in the container

      parameters:
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resource
          in: body
          description: Resource to update or create
          required: true
          schema:
            $ref: '#/definitions/Resource'
        - name: Content-Type
          in: header
          description: Content-Type of resource
          required: false
          type: string

      responses:

        "200":
          description: Successful response
          headers:
            ETag:
              description: ETag for this resource
              type: string

        "404":
          description: Unable to find resource

        "405":
          description: Method not allowed
          headers:
            Allow:
              description: HTTP methods allowed
              type: array
              items:
                type: string

        "409":
          description: Property cannot be modified

        "412":
          description: ETags don't match

        default:
          description: Unsuccessful response

    patch:

      tags:
        - LDP

      description: |
        Updates resource in the container

      parameters:
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response

        "404":
          description: Unable to find resource

        "405":
          description: Method not allowed
          headers:
            Allow:
              description: HTTP methods allowed
              type: array
              items:
                type: string

        "406":
          description: Violates constraints on resource modification
          headers:
            Accept-Patch:
                type: array
                items:
                  type: string

        default:
          description: Unsuccessful response

    delete:

      tags:
        - LDP

      description: |
        Deletes resource in the container

      parameters:
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response

        "404":
          description: Unable to find resource

        "405":
          description: Method not allowed
          headers:
            Allow:
              description: HTTP methods allowed
              type: array
              items:
                type: string

        default:
          description: Unsuccessful response

    options:

      tags:
        - LDP

      description: |
        Gets options for HTTP methods for the resource in the container

      parameters:
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response
          headers:
            Accept:
              type: array
              items:
                type: string

            Accept-Patch:
              type: array
              items:
                type: string

        "404":
          description: Unable to find resource

        default:
          description: Unsuccessful reponse

    head:

      tags:
        - LDP

      description: |
        Gets the header values similar to that in GET

      parameters:
        - name: containerID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response
          headers:
            allow:
              type: array
              items:
                type: string

        "404":
          description: Unable to find resource

        default:
          description: Unsuccessful response

  /resourceSet:

    get:

      tags:
        - OSLC-3.0

      description: |
        Gets the resource set for this server

      responses:

        "200":
          description: Successful response
          schema:
            $ref: '#/definitions/ResourceSet'

        default:
          description: Unsuccessful response

  /resourceSet/base:

    get:

      tags:
        - OSLC-3.0

      description: |
        Gets the base for the Resource set

      responses:

        "200":
          description: Successful response
          schema:
            $ref: '#/definitions/LDPContainer'

        default:
          description: Unsuccessful response

  /resourceSet/changeLog:

    get:

      tags:
        - OSLC-3.0

      description: |
        Gets the Change Log for the Resource Set

      responses:

        "200":
          description: Successful response
          schema:
            $ref: '#/definitions/ChangeLog'

        default:
          description: Unsuccessful response

  # Path to the Service Provider Catalog
  /services/catalog:

    # GET operation to retrieve the SPC
    get:

      tags:
        - OSLC-3.0
        - OSLC-2.0
      
      description: |
        Gets list of ServiceProviders.

      responses:

        "200":
          description: Successful response
          
          # Schema that describes response, as defined in "ref"
          schema:
            $ref: "#/definitions/ServiceProviderCatalog"
            externalDocs:
              description: Description of Service Provider Catalog that is returned
              url: http://open-services.net/ns/core#ServiceProviderCatalog

        "404":
          description: Unable to find catalog

        default:
          description: Unsuccessful response

    options:

      tags:
        - OSLC-3.0

      description: |
        Gets options for HTTP methods to utilize for this service

      responses:

        "200":
          description: Successful response
          headers:
            Accept:
              type: array
              items:
                type: string

            Accept-Patch:
              type: array
              items:
                type: string

            Link:
              type: array
              items:
                type: string
                format: uri

        "404":
          description: Unable to find container

        default:
          description: Unsuccessful response

    # What should be returned here??
    head:

      tags:
        - OSLC-3.0

      description: |
        Gets the header values that would normally be found in the header of GET

      responses:

        "200":
          description: Successful response
          headers:
            Allow:
              type: array
              items:
                type: string
            Link:
              type: array
              items:
                type: string
                format: uri

        "404":
          description: Unable to find container

        default:
          description: Unsuccessful response
 
  # Path to a Service Provider, as specified in "serviceProviderID"
  /services/serviceProviders/{serviceProviderID}:
  
    # GET the Service Provider
    get:

      tags:
        - OSLC-3.0
        - OSLC-2.0

      description: |
        Gets a ServiceProvider resource.

      parameters:
        - name: serviceProviderID
          in: path
          description: ID of service provider
          required: true
          type: integer
          format: int64
        
      responses:
      
        "200":
          description: Successful response

          schema:
            $ref: "#/definitions/ServiceProvider"

        default:
          description: Unsuccessful response

    options:

      tags:
        - OSLC-3.0

      description: |
        Gets options for HTTP methods to utilize for this container

      parameters:
        - name: serviceProviderID
          in: path
          description: ID of service provider
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response
          headers:
            Accept:
              type: array
              items:
                type: string

            Accept-Patch:
              type: array
              items:
                type: string

        "404":
          description: Unable to find container

        default:
          description: Unsuccessful response

    # What should be returned here??
    head:

      tags:
        - OSLC-3.0

      description: |
        Gets the header values that would normally be found in the header of GET

      parameters:
        - name: serviceProviderID
          in: path
          description: ID of service provider
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response
          headers:
            Allow:
              type: array
              items:
                type: string

        "404":
          description: Unable to find container

        default:
          description: Unsuccessful response

  # Path to a Service, as specified in "serviceID"
  /services/{serviceID}:

    # GET the Service
    get:

      tags:
        - OSLC-3.0
        - OSLC-2.0

      description: |
        Lists options provided within service

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful

          # Schema that describes response, as defined in "ref"
          schema:
            $ref: "#/definitions/Service"
            externalDocs:
              description: The requested service
              url: http://open-services.net/ns/core#Service

        "404":
          description: Unable to find resource

        default:
          description: Unsuccessful response

    options:

      tags:
        - OSLC-3.0

      description: |
        Gets options for HTTP methods to utilize for this service

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response
          headers:
            Accept:
              type: array
              items:
                type: string

            Accept-Patch:
              type: array
              items:
                type: string

            Link:
              type: array
              items:
                type: string
                format: uri

        "404":
          description: Unable to find container

        default:
          description: Unsuccessful response

    # What should be returned here??
    head:

      tags:
        - OSLC-3.0

      description: |
        Gets the header values that would normally be found in the header of GET

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response
          headers:
            Allow:
              type: array
              items:
                type: string
            Link:
              type: array
              items:
                type: string
                format: uri

        "404":
          description: Unable to find container

        default:
          description: Unsuccessful response
  
  /services/{serviceID}/oauth:

    # GET the Service
    get:

      tags:
        - OSLC-3.0
        - OSLC-2.0

      description: |
        Lists options provided within service

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful

          # Schema that describes response, as defined in "ref"
          #schema:
          #  type: string
          #  externalDocs:
          #    description: The OAuth Configuration for this service
          #    url: http://open-services.net/ns/core#OAuthConfiguration

        "404":
          description: Unable to find the OAuth Configuration

        default:
          description: Unsuccessful response

  /services/{serviceID}/prefix:

    # GET the Service
    get:

      tags:
        - OSLC-3.0
        - OSLC-2.0

      description: |
        Lists options provided within service

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful

          # Schema that describes response, as defined in "ref"
          #schema:
          #  type: string
          #  externalDocs:
          #    description: The prefix definition for this service
          #    url: http://open-services.net/ns/core#PrefixDefinition

        "404":
          description: Unable to find resource

        default:
          description: Unsuccessful response

  /services/{serviceID}/publisher:

    # GET the Service
    get:

      tags:
        - OSLC-3.0
        - OSLC-2.0

      description: |
        Lists options provided within service

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful

          # Schema that describes response, as defined in "ref"
          #schema:
          #  type: string
          #  externalDocs:
          #    description: The requested service
          #    url: http://open-services.net/ns/core#Publisher

        "404":
          description: Unable to find publisher

        default:
          description: Unsuccessful response

  # Path to the Creation Delegated Dialog within the Service
  /services/{serviceID}/dialog/create:
    
    # GET the Creation Delegated Dialog
    get:

      tags:
        - OSLC-3.0
        - OSLC-2.0

      description: |
        Gets a resource creation dialog.

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        
      responses:

        "200":
          description: Successful response
          
          #schema:
          #  type: string
          #  externalDocs:
          #    description: The creation dialog for this service
          #    url: http://open-services.net/ns/core#Dialog

        "400":
          description: Dialog unavailable

        default:
          description: Unsuccessful response

  # Path to the Creation Delegated Dialog within the Service
  /services/{serviceID}/dialog/select:
    
    # GET the Creation Delegated Dialog
    get:

      tags:
        - OSLC-3.0
        - OSLC-2.0

      description: |
        Gets a resource creation dialog.

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        
      responses:

        "200":
          description: Successful response

          #schema:
          #  type: string
          #  externalDocs:
          #    description: The selection dialog for this service
          #    url: http://open-services.net/ns/core#Dialog

        "400":
          description: Dialog unavailable

        default:
          description: Unsuccessful response


  # Path to the Factory within the Service
  /services/{serviceID}/factory:

    # POST the OSLC Resource to be created
    post:

      tags:
        - OSLC-3.0
        - OSLC-2.0

      description: |
        Creates a new OSLC resource.

      # Need to input the resource inside the body
      # of the packet. Schema defined under "Resource"
      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: resource
          in: body
          description: New OSLC resource
          required: true
          schema:
            $ref: '#/definitions/Resource'

      responses:

        "200":
          description: Successful creation

          #schema:
          #  type: string
          #  externalDocs:
          #    description: Creation dialog for this service
          #    url: http://open-services.net/ns/core#CreationFactory

        default:
          description: Unsuccessful response

  # Path to the UI Preview within the Service
  # This may not exist for some services
  /services/{serviceID}/{resourceID}/preview:

    # GET the UI Preview
    get:

      tags:
        - OSLC-3.0
        - OSLC-2.0

      description: |
        Obtain a UI Preview for a resource

      # Inputs the URI of the resource
      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: URI for resource
          required: true
          type: integer
          format: int64

      consumes:
          - "application/x-oslc-compact+json"
          - "application/x-oslc-compact+xml"

      produces:
          - "application/x-oslc-compact+json"
          - "application/x-oslc-compact+xml"

      responses:
        # response header has "vary" field
        "200":
          description: Successful response

          headers:
            vary:
              type: string # URI directed to cache

          schema:
            $ref: "#/definitions/UIPreview"

        "406":
          description: Compact representation not supported

        default:
          description: Does not exist
          
  # Path to the Query within the Service
  /services/{serviceID}/query?{oslcQuery}:

    # GET the Query by putting the query in the URI
    get:

      tags:
        - OSLC-3.0
        - OSLC-2.0

      description: |
        Enables a query for resources within this service via GET.

      # Inputs the query. Attached to the end of the URI
      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: oslcQuery
          in: path
          description: User's query of resources
          required: true
          type: string
          format: string

      responses:

        "200":
          description: Successful response

          # Schema for the resources that come back, as defined under "Resources"
          #schema:
          #  type: string
          #  externalDocs:
          #    description: The query results
           #   url: http://open-services.net/ns/core#QueryCapability

        "400":
          description: Error in specification of query

        default:
          description: Unsuccessful response


  /services/{resourceID}?{paging}:

    get:

      tags:
        - OSLC-3.0
        - OSLC-2.0

      description: |
        Obtain a specific resource by resourceID

      parameters:
        - name: resourceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: paging
          in: path
          description: Query to enable paging with oslc:paging=true or oslc.pageSize=<integer>
          required: true
          type: string

      responses:
        "200":
          description: Successful response
          schema:
            $ref: "#/definitions/Resource"
            externalDocs:
              description: Resource returned via paging
              url: http://open-services.net/ns/core#ResponseInfo
        "404":
          description: Unable to find resource

        default:
          description: Unsuccessful response

  /services/{serviceID}/{resourceID}?{paging}:

    get:
      
      tags:
        - OSLC-2.0

      description: |
        Obtain a specific resource by resourceID

      parameters:
        - name: serviceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: ID of service
          required: true
          type: integer
          format: int64
        - name: paging
          in: path
          description: Query to enable paging with oslc:paging=true or oslc.pageSize=<integer>
          required: true
          type: string

      responses:
        "200":
          description: Successful response
          schema:
            $ref: '#/definitions/Resource'
        
        "404":
          description: Unable to find resource

        default:
          description: Unsuccessful response


  /services/{serviceID}/{resourceID}:

    get:

      tags:
        - OSLC-3.0
        - OSLC-2.0

      description: |
        Gets resource within the container

      parameters:
        - name: serviceID
          in: path
          description: Service container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response
          headers:
            Allow:
              type: array
              items:
                type: string
            ETag:
              description: ETag for this resource
              type: string
            Content-Type:
              description: Content-Type for resource
              type: string

          schema:
            $ref: '#/definitions/Resource'

        "404":
          description: Unable to find resource

        default:
          description: Unsuccessful response

    post:

      tags:
        - OSLC-3.0
        - OSLC-2.0

      description: |
        Creates resource within that container

      parameters:
        - name: serviceID
          in: path
          description: Service container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resource
          in: body
          description: Resource to create
          required: true
          schema:
            $ref: '#/definitions/Resource'
        - name: Content-Type
          in: header
          description: Content-Type of resource
          required: false
          type: string

      responses:

        "200":
          description: Successful response

        "404":
          description: Unable to find resource

        "405":
          description: Method not allowed
          headers:
            Allow:
              description: HTTP methods allowed
              type: array
              items:
                type: string
        default:
          description: Unsuccessful response

    put:

      tags:
        - OSLC-3.0
        - OSLC-2.0

      description: |
        Updates resource in container for this service

      parameters:
        - name: serviceID
          in: path
          description: Service container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64
        - name: resource
          in: body
          description: Resource to update or create
          required: true
          schema:
            $ref: '#/definitions/Resource'
        - name: Content-Type
          in: header
          description: Content-Type of resource
          required: false
          type: string

      responses:

        "200":
          description: Successful response
          headers:
            ETag:
              description: ETag for this resource
              type: string

        "404":
          description: Unable to find resource

        "405":
          description: Method not allowed
          headers:
            Allow:
              description: HTTP methods allowed
              type: array
              items:
                type: string

        "409":
          description: Property cannot be modified
          schema:
            type: string

        "412":
          description: ETags don't match

        default:
          description: Unsuccessful response

    patch:

      tags:
        - OSLC-3.0
        - OSLC-2.0

      description: |
        Updates resource for container in this service

      parameters:
        - name: serviceID
          in: path
          description: Service container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response

        "404":
          description: Unable to find resource

        "405":
          description: Method not allowed
          headers:
            Allow:
              description: HTTP methods allowed
              type: array
              items:
                type: string

        "406":
          description: Violates constraints on resource modification
          headers:
            Accept-Patch:
                type: array
                items:
                  type: string

        default:
          description: Unsuccessful response

    delete:

      tags:
        - OSLC-3.0
        - OSLC-2.0

      description: |
        Deletes resource in this container

      parameters:
        - name: serviceID
          in: path
          description: Service container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response

        "404":
          description: Unable to find resource

        "405":
          description: Method not allowed
          headers:
            Allow:
              description: HTTP methods allowed
              type: array
              items:
                type: string

        default:
          description: Unsuccessful response

    options:

      tags:
        - OSLC-3.0
        - OSLC-2.0

      description: |
        Gets options for HTTP operations for this resource

      parameters:
        - name: serviceID
          in: path
          description: Service container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response
          headers:
            Accept:
              type: array
              items:
                type: string

            Accept-Patch:
              type: array
              items:
                type: string

        "404":
          description: Unable to find resource

        default:
          description: Unsuccessful reponse

    head:

      tags:
        - OSLC-3.0
        - OSLC-2.0

      description: |
        Gets header info that is seen in GET method

      parameters:
        - name: serviceID
          in: path
          description: Service container to get
          required: true
          type: integer
          format: int64
        - name: resourceID
          in: path
          description: LDP Container to get
          required: true
          type: integer
          format: int64

      responses:

        "200":
          description: Successful response
          headers:
            allow:
              type: array
              items:
                type: string

        "404":
          description: Unable to find resource

        default:
          description: Unsuccessful response

          
definitions:

  # Defines a Service Provider as described in
  # The OSLC 2.0 specifications

  variable:
    type: object
    required:
      - "@id"
      - "@type"
    properties:
      "@id":
        type: string
        format: uri
      "@type":
        type: string
        format: uri

  Publisher:

    required:
      - "@id"
      - "@type"
      - icon
      - identifier
      - title

    properties:
      "@id":
        type: string
        format: uri
      "@type":
        type: string
        format: uri
      icon:
        type: string
        format: uri
      identifier:
        type: string
      title:
        type: string

  ServiceProvider:

    required:
      - "@graph"
      - "@id"
      - "@context"

    properties:
      "@graph":
        type: array
        items:
          allOf:
            - $ref: "#/definitions/ServiceProviderService"
            - $ref: "#/definitions/Dialog"
            - $ref: "#/definitions/Query"
            - $ref: "#/definitions/CreationFactory"
            - $ref: "#/definitions/Publisher"
            #- $ref: "#/definitions/ServiceProviderUIPreview"
            - $ref: "#/definitions/ServiceProviderInfo"

      "@id":
        type: string
      "@context":
        $ref: "#/definitions/ServiceProviderContext"

  ServiceProviderService:

    required:
      - "@id"
      - "@type"
      - creationDialog
      - creationFactory
      - domain
      - queryCapability

    properties:
      "@id":
        type: string
        format: uri
      "@type":
        type: string
        format: uri
      creationDialog:
        type: array
        items:
          type: string
          format: uri
      creationFactory:
        type: array
        items:
          type: string
          format: uri
      domain:
        type: string
        format: uri
      queryCapability:
        type: array
        items:
          type: string
          format: uri

  Dialog:

    required:
      - "@id"
      - "@type"
      - dialog
      - hintHeight
      - hintWidth
      - label
      - resourceType
      - usage
      - title
    properties:
      "@id":
        type: string
        format: uri
      "@type":
        type: string
        format: uri
      dialog:
        type: string
        format: uri
      hintHeight:
        type: string
      hintWidth:
        type: string
      label:
        type: string
      resourceType:
        type: string
        format: uri
      usage:
        type: string
        format: uri
      title:
        type: string

  Query:

    required:
      - "@id"
      - "@type"
      - queryBase
      - resourceShape
      - resourceType
      - usage
      - title
    properties:
      "@id":
        type: string
        format: uri
      "@type":
        type: string
        format: uri
      queryBase:
        type: string
        format: uri
      resourceShape:
        type: string
        format: uri
      resourceType:
        type: string
        format: uri
      usage:
        type: string
        format: uri
      title:
        type: string

  CreationFactory:

    required:
      - "@id"
      - "@type"
      - creation
      - resourceShape
      - resourceType
      - usage
      - title
    properties:
      "@id":
        type: string
        format: uri
      "@type":
        type: string
        format: uri
      creation:
        type: string
        format: uri
      resourceShape:
        type: string
        format: uri
      resourceType:
        type: string
        format: uri
      usage:
        type: string
        format: uri
      title:
        type: string

  ServiceProviderInfo:

    required:
      - "@id"
      - "@type"
      - details
      - service
      - publisher
      - title

    properties:
      "@id":
        type: string
        format: uri
      "@type":
        type: string
        format: uri
      details:
        type: string
        format: uri
      service:
        type: string
        format: uri
      publisher:
        type: string
        format: uri
      title:
        type: string

  ServiceProviderContext:

    required:
      - creationDialog
      - queryCapability
      - creationFactory
      - domain
      - queryBase
      - resourceShape
      - resourceType
      - usage
      - title
      - creation
      - hintHeight
      - hintWidth
      - dialog
      - label
      - service
      - publisher
      - details
      - icon
      - identifier
      - rdf
      - ns1
      - dc
      - oslc
      - oslc_cm
      - ns3

    properties:
      creationDialog:
        $ref: "#/definitions/variable"
      queryCapability:
        $ref: "#/definitions/variable"
      creationFactory:
        $ref: "#/definitions/variable"
      domain:
        $ref: "#/definitions/variable"
      queryBase:
        $ref: "#/definitions/variable"
      resourceShape:
        $ref: "#/definitions/variable"
      resourceType:
        $ref: "#/definitions/variable"
      usage:
        $ref: "#/definitions/variable"
      title:
        $ref: "#/definitions/variable"
      creation:
        $ref: "#/definitions/variable"
      hintHeight:
        type: string
        format: uri
      hintWidth:
        type: string
        format: uri
      dialog:
        $ref: "#/definitions/variable"
      label:
        type: string
        format: uri
      service:
        $ref: "#/definitions/variable"
      publisher:
        $ref: "#/definitions/variable"
      details:
        $ref: "#/definitions/variable"
      icon:
        $ref: "#/definitions/variable"
      identifier:
        type: string
        format: uri
      rdf:
        type: string
        format: uri
      ns1:
        type: string
        format: uri
      dc:
        type: string
        format: uri
      oslc:
        type: string
        format: uri
      oslc_cm:
        type: string
        format: uri
      ns3:
        type: string
        format: uri

  ServiceProviderCatalog:
    type: object
    required:
      - "@graph"
      - "@id"
      - "@context"

    properties:
      "@graph":
        type: array
        items:
          allOf:
           - $ref: "#/definitions/Publisher"
           - $ref: "#/definitions/ServiceProviderCatInfo"
           - $ref: "#/definitions/ServiceProviderCatalogInfo"
      "@id":
        type: string # Should it be a URI?
      "@context":
        $ref: "#/definitions/CatalogContext"

  ServiceProviderCatInfo:
    type: object
    required:
      - "@id"
      - "@type"
      - details
      - identifier
      - title
    properties:
      "@id":
        type: string
        format: uri
      "@type":
        type: string
        format: uri
      details:
        type: string
        format: uri
      identifier:
        type: string
      title:
        type: string

  ServiceProviderCatalogInfo:
    type: object
    required:
      - "@id"
      - "@type"
      - domain
      - serviceProvider
      - publisher
      - title
    properties:
      "@id":
        type: string
        format: uri
      "@type":
        type: string
        format: uri
      domain:
        type: string
        format: uri
      serviceProvider:
        type: array
        items:
          type: string
          format: uri
      publisher:
        type: string
        format: uri # Is it a URI?
      title:
        type: string

  CatalogContext:
    type: object
    required:
      - icon
      - identifier
      - title
      - serviceProvider
      - domain
      - publisher
      - details
      - rdf
      - dc
      - oslc
    properties:
      icon:
        $ref: "#/definitions/variable"
      identifier:
        type: string
        format: uri
      title:
        $ref: "#/definitions/variable"
      serviceProvider:
        $ref: "#/definitions/variable"
      domain:
        $ref: "#/definitions/variable"
      publisher:
        $ref: "#/definitions/variable"
      details:
        $ref: "#/definitions/variable"
      rdf:
        type: string
        format: uri
      dc:
        type: string
        format: uri
      oslc:
        type: string
        format: uri

  # Defines a Service as described in
  # The OSLC 2.0 specifications
  Service:
    required:
      - "@graph"
      - "@id"
      - "@context"
    properties:
      "@graph":
        type: array
        items:
          allOf:
            - $ref: "#/definitions/ServiceInfo"
            - $ref: "#/definitions/Dialog"
            - $ref: "#/definitions/Query"
            - $ref: "#/definitions/CreationFactory"
            - $ref: "#/definitions/Publisher"

      "@id":
        type: string
        format: uri
      "@context":
        $ref: "#/definitions/ServiceContext"

  ServiceInfo:

    required:
      - "@id"
      - "@type"
      - creationDialog
      - creationFactory
      - domain
      - queryCapability

    properties:
      "@id":
        type: string
        format: uri
      "@type":
        type: string
        format: uri
      creationDialog:
        type: array
        items:
          type: string
          format: uri
      creationFactory:
        type: array
        items:
          type: string
          format: uri
      domain:
        type: string
        format: uri
      queryCapability:
        type: array
        items:
          type: string
          format: uri

  ServiceContext:
    
    required:
      - icon
      - identifier
      - title
      - usage
      - resourceType
      - resourceShape
      - creation
      - queryBase
      - label
      - dialog
      - hintHeight
      - hintWidth
      - creationDialog
      - creationFactory
      - domain
      - queryCapability
    properties:
      icon:
        $ref: "#/definitions/variable"
      identifier:
        $ref: "#/definitions/variable"
      title:
        $ref: "#/definitions/variable"
      usage:
        $ref: "#/definitions/variable"
      resourceType:
        $ref: "#/definitions/variable"
      resourceShape:
        $ref: "#/definitions/variable"
      creation:
        $ref: "#/definitions/variable"
      queryCapability:
        $ref: "#/definitions/variable"
      queryBase:
        $ref: "#/definitions/variable"
      label:
        $ref: "#/definitions/variable"
      dialog:
        $ref: "#/definitions/variable"
      creationDialog:
        $ref: "#/definitions/variable"
      creationFactory:
        $ref: "#/definitions/variable"
      domain:
        $ref: "#/definitions/variable"
      hintHeight:
        type: string
        format: uri
      hintWidth:
        type: string
        format: uri
      publisher:
        $ref: "#/definitions/variable"
      details:
        $ref: "#/definitions/variable"
      rdf:
        type: string
        format: uri
      ns1:
        type: string
        format: uri
      dc:
        type: string
        format: uri
      oslc:
        type: string
        format: uri
      oslc_cm:
        type: string
        format: uri
      ns3:
        type: string
        format: uri


  # Defines a Resource as described in
  # The OSLC 2.0 specifications
  Resource:
    required:
      - "@id"
      - "@type"
      - name
      - URI
    properties:
      "@id":
        type: string
        format: uri
      "@type":
        type: string
        format: uri
      name:
        type: string
      URI:
        type: string
        format: uri
      oslc:nextPage: # URL to next page of Resource is paging is enabled
        type: string

  # Defines an array of Resources
  Resources:
    type: array
    items:
      $ref: '#/definitions/Resource'

  LDPContainer:
    required:
      - containerID
      - name
      - URI
      - resources
    properties:
      containerID:
        type: integer
        format: int64
      name:
        type: string
      URI:
        type: string
      resources:
        type: array
        items:
          $ref: '#/definitions/Resource'

  ChangeLog:
    required:
      - changeEvents
    properties:
      changeEvents:
        type: array
        items:
          $ref: '#/definitions/ChangeEvent'

  ChangeEvent:
    required:
      - URI
      - rdf:type
      - trs:changed
      - trs:order
    properties:
      URI:
        type: string
      rdf:type:
        type: string
      trs:changed:
        type: string
      trs:order:
        type: integer
        format: int64

  ResourceSet:
    required:
      - ChangeLog
      - Base
    properties:
      ChangeLog:
        $ref: '#/definitions/ChangeLog'
      Base:
        $ref: '#/definitions/LDPContainer'

  UIPreview:

    required:
      - "@graph"
      - "@id"
      - "@context"
    properties:
      "@graph":
        $ref: "#/definitions/UIPreviewInfo"
      "@id":
        type: string
      "@context":
        $ref: "#/definitions/UIPreviewContext"

  UIPreviewInfo:

    required:
      - "@id"
      - "@type"

    properties:
      "@id":
        type: string
        format: uri
      "@type":
        type: string
        format: uri
      title:
        type: string
      shortTitle:
        type: string
      icon:
        type: string
        format: uri
      iconAtLabel:
        type: string
      smallPreview:
        $ref: "#/definitions/Preview"
      largePreview:
        $ref: "#/definitions/Preview"

  Preview:

    required:
      - "@id"
      - "@type"
    properties:
      "@id":
        type: string
        format: uri
      "@type":
        type: string
        format: uri
      document:
        type: string
        format: uri
      hintWidth:
        type: string
      hintHeight:
        type: string
      initialHeight:
        type: string

  UIPreviewContext:

    required:
      - "@id"
      - "@type"

    properties:
      "@id":
        type: string
        format: uri
      "@type":
        type: string
        format: uri
      title:
        type: string
        format: uri
      shortTitle:
        type: string
        format: uri
